@{
    Layout = null;
}

@model GetEmailDTO

<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artelio</title>
    <link rel="stylesheet" href="~/assets/auth/css/style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post">
            <h2>Fogot password</h2>
            <div class="input-field">
                <input asp-for="@Model.Email" required>
                <label asp-for="@Model.Email">Username or Email</label>
                <span asp-validation-for="@Model.Email" style="color: red; text-align: start;"></span>

            </div>
            <button type="submit">Log In</button>
            <div asp-validation-summary="ModelOnly" style="color: red; text-align: start;"></div>
        </form>
        <div class="register">
            <p>Are you remember your password? <a asp-controller="Account" asp-action="Login">Login</a></p>
        </div>
    </div>
</body>
</html>